# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
env/
venv/
.venv/

# IDE / editor
.vscode/
.idea/
.DS_Store
Thumbs.db

# ML artifacts & datasets / outputs
input_videos/
output_videos/
runs/
models/weights/
models/*.pt
*.pt
*.pth
*.ckpt
*.h5
*.onnx
*.tflite

# Video / large media
*.mp4
*.mov
*.avi

# Notebooks checkpoints
.ipynb_checkpoints/

# React / Node
client/node_modules/
client/dist/
client/.vite/
client/build/

# NPM / lock
*.log

# Misc
tree1_output.txt
*.db

#backup
football_env_cross.yml